<% title 'Post bearbeiten' %>
<% javascript *%w(jquery jquery-ui jquery-livequery application) %>

<% form_for(@post) do |f| %>
  <%= f.error_messages %>
  

  
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :subtitle %><br />
    <%= f.text_field :subtitle %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :rows=> 5 %>
  </p>
  <p>
    <%= f.label :published, 'Öffentlich sichtbar' %>
    <%= f.check_box :published %>
  </p>

  <div class="foto">
    <%= image_tag @post.foto.url(:standard) %>
  </div>

  <div class="markers">
    <% f.fields_for :markers do |marker_form|  %>
      <div class="marker_form">
        <p>
          <%= f.label :name, @post.markers.index(marker_form.object) + 1 %>
          <%= marker_form.text_area :name, :rows => 2 %>
        </p>
        <p>
          <%= f.label :price, "Preis" %>
          <%= marker_form.text_field :price, :size => 5 %>
        </p>
        <p>
        <%= f.label :url, "Link" %>
        <%= marker_form.text_field :url %> 
        </p>
        <%= marker_form.hidden_field :pos_x, :class => 'pos_x' %>
        <%= marker_form.hidden_field :pos_y, :class => 'pos_y' %>
        <% div_for marker_form.object do %>
          <%= @post.markers.index(marker_form.object) + 1 %>
        <% end %>
      </div>
    <% end %>
  </div>

  <p>
    <%= link_to 'Show', @post %> |
    <%= link_to 'Back to List', posts_path %> |
    <%= f.submit 'Update' %>
  </p>
<% end %>
<div style="clear: both" />