<% title 'Post bearbeiten' %>
<% javascript *%w(jquery jquery-ui jquery-livequery application) %>

<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :subtitle %><br />
    <%= f.text_field :subtitle %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :published, 'Öffentlich sichtbar' %>
    <%= f.check_box :published %>
  </p>

  <div class="foto">
    <%= image_tag @post.foto.url(:standard) %>
  </div>

  <div class="markers">
    <% f.fields_for :markers do |marker_form|  %>
      <div class="marker_form">
        <%= f.label :name %>
        <%= marker_form.text_field :name %>
        <%= marker_form.hidden_field :pos_x, :size => 5, :class => 'pos_x' %>
        <%= marker_form.hidden_field :pos_y, :size => 5, :class => 'pos_y' %>
        <% div_for marker_form.object do %>
          <%= @post.markers.index(marker_form.object) + 1 %>
        <% end %>
      </div>
    <% end %>
  </div>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
