<h1>Editing post</h1>

<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :subtitle %><br />
    <%= f.text_field :subtitle %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :published, 'Öffentlich sichtbar' %>
    <%= f.check_box :published %>
  </p>

  <%= image_tag @post.foto.url(:standard) %>

  <div class="markers">
    <% f.fields_for :markers do |marker_form|  %>
      <div class="marker_form">
        <%= f.label :name %>
        <%= marker_form.text_field :name %>
        <%= f.label :position %>
        <%= marker_form.text_field :pos_x, :size => 5 %>
        <%= marker_form.text_field :pos_y, :size => 5 %>
      </div>
    <% end %>
  </div>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
