- javascript *%w(jquery jquery-ui jquery-livequery application)
.post
  %h3.title= link_to @post.title, @post
  %span.subtitle= @post.subtitle
  %div.markers
    - @post.markers.each_with_index do |marker,i|
      %div.marker_info{:id => "marker_#{marker.id}_info"}
        = i+1
        = "."
        = marker.name
        = number_to_currency marker.price.to_f/100, {:unit => "€", :separator =>",", :delimiter =>""}
        = link_to "Buy", marker.url
  %div.foto
    = link_to image_tag(@post.foto.url(:standard)), @post
    - @post.markers.each_with_index do |marker,i|
      %div.marker{:id => "marker_#{marker.id}", :style => "top: #{marker.pos_y}%; left: #{marker.pos_x}%"}= i+1
  -#%div.body= @post.body
  - unless @post.published?
    %div.warning "Post ist noch unsichtbar, bitte veröffentlichen"
  - if logged_in? 
    =link_to 'bearbeiten', edit_post_path(@post)
    =link_to "löschen", post_path(@post), {:method=> :delete, :confirm=> "Möchtest du dein Post wirklich loschen?"}
    =link_to "zurück", posts_path
  -else
    =link_to "zurück", posts_path
 
